
* {
    box-sizing: border-box;
}

body, html {
    background: linear-gradient(237deg, #210a48, rgb(122, 187, 231));
    margin: 0;
    height: 100%;
    padding-top: 20px;
    padding-bottom: 10px;
    background: #1C6EA4;
    background: -moz-linear-gradient(-45deg, #1C6EA4 0%, #7a69c7 50%, #144E75 100%);
    background: -webkit-linear-gradient(-45deg, #1c3ca4 0%, #2388CB 50%, #144E75 100%);
    background: linear-gradient(135deg, #257bc2 0%, #8ad7e3 50%, #27137a 100%);
}

.appContainer {
    margin: auto;
    display: grid;
    grid-template-rows: 0.5fr 2fr 0.6fr;
    border: 1px solid #110101;
    width: 25%;
    height: 70%;
    margin-top: 7%;
    /*background: #a6b4b4;*/
    background: linear-gradient(237deg, #5a80ff, rgb(5, 28, 87));
    border-radius: 5%;
}

.firstRow {
    grid-row: 1 / 1;
    /*border: 2px solid #d2d2d2;*/
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-right: 3%;
    padding-left: 3%;
}

.appTitle {
    /*border: 2px solid orange;*/
    width: 45%;
    height: 25%;
    margin-right: 30%;
    color: white;
    font-size: 300%;
    font-family: monospace;
}

.searchButtonBox {
    /*border: 2px solid turquoise;*/
    width: 25%;
    height: 30%;
    padding-top: 3%;
}

.searchButtonBox button {
    /*border: 1px solid #2038d5;*/
    border: none;
    width: 100%;
    height: 100%;
    color: white;
    font-size: 100%;
    background: rgba(255, 255, 255, 0);
}

.searchButtonBox button:hover {
    background: rgba(229, 231, 235, 0.33);
}


.secondRow {
    padding-top: 3%;
    grid-row: 2 / 2;
    /*border: 2px solid #d2d2d2;*/
}

.temperatureDiv {
    /*border: 2px solid coral;*/
    width: 35%;
    height: 20%;
    margin: auto;
    color: white;
    font-size: 500%;
    text-align: center;
    margin-top: 2%;

}

.weatherDetailDiv {
    /*border: 2px solid yellow;*/
    width: 35%;
    height: 10%;
    margin: auto;
    color: white;
    margin-top: 2%;
    text-align: center;
    font-size: 200%;
}


.locationDiv {
    /*border: 2px solid yellow;*/
    width: 52%;
    height: 10%;
    margin: auto;
    color: white;
    margin-top: 2%;
    text-align: center;
    font-size: 200%;
}


.thirdRow {
    color: white;
    display: grid;
    grid-row: 3 / 3;
    /*border: 2px solid #d2d2d2;*/
    grid-template-columns: 1fr 1fr;
}


.humiditySection {
    grid-column: 1 / 1;
    /*border: 2px solid red;*/
    /*border-right: 1px solid white;*/
}

.temperatureSection {
    grid-column: 2 / 2;
    /*border: 2px solid red;*/
    /*border-left: 1px solid white;*/
}

.weatherImage {
    /*border: 2px solid gold;*/
    width: 35%;
    height: 35%;
    margin: auto;
}

.weatherImage img {
    width: 100%;
    height: 100%;
}

.iconAndContentBox {
    margin: auto;
    /*border: 2px solid green;*/
    width: 50%;
    height: 60%;
    display: flex;
    margin-top: 3%;

}

.iconContainer {
    /*border: 2px solid red;*/
    width: 50%;
}

.iconContainer img {
    /*border: 2px solid red;*/
    width: 100%;
    height: 100%;
    filter: brightness(0) invert(1);
    display: block;
}

.textContainer {
    /*border: 2px solid #00ff80;*/
    width: 50%;
    display: flex;
    flex-direction: column;
}

.humidity, .temperature {
    /*border: 2px solid red;*/
    height: 50%;
    font-size: 150%;
}

.humidityValue, .temperatureValue {
    /*border: 2px solid rebeccapurple;*/
    height: 50%;
    font-size: 150%;

}


/* FORM styling below */

.mainBody{
    border: 4px solid #2a2929;
    margin: auto;
    margin-top: 200px;
    height: 55%;
    width: 28%;
    background: #ffffff;
    border-radius: 10px;
}

.nikeLogo{
    /*border: 2px solid red;*/
    margin: auto;
    height: 10%;
    width: 10%;
}

.nikeLogo img{
    width: 100%;
    height: 100%;
}

.firstTitle{
    /*border: 2px solid turquoise;*/
    height: 8%;
    width: 50%;
    background: #ffffff;
    margin: auto;
    text-align: center;
    font-family:"Times New Roman";
    font-weight: bolder;
    font-size: 34px;
    margin-top: 17px;
}

.secondTitles{
    /*border: 2px solid red;*/
    height: 9%;
    width: 60%;
    background: #ffffff;
    margin: auto;
    margin-top: 10px;
    font-family: "Times New Roman";
    font-size: 21px;
    text-align: center;
    color: #676767;
    line-height: 31px;
}

.formBoxOne{
    /*border: 2px solid red;*/
    height: 11%;
    width: 72%;
    background: #ffffff;
    margin: auto;
    margin-top: 45px;
}

.formBoxOne input, label{
    background: #ffffff;
    display: block;
    font-size: 20px;
}

.formBoxOne input{
    height: 60%;
    width: 100%;
    font-size: 15px;
    border: 0.5px solid rgba(190, 190, 190, 0.97);
}

.formBoxTwo{
    /*border: 2px solid red;*/
    height: 11%;
    width: 80%;
    background: #ffffff;
    margin: auto;
    margin-top: 25px;
    display: flex;
}

.formRowOne, .formRowTwo{
    background: #ffffff;
    margin: auto;
    /*border: 2px solid green;*/
    width: 40%;
}

.formRowOne input{
    background: #ffffff;
    width: 100%;
    height: 55%;
    border: 0.5px solid rgba(190, 190, 190, 0.97);
}

.formRowTwo input{
    background: #ffffff;
    width: 100%;
    height: 55%;
    border: 0.5px solid rgba(190, 190, 190, 0.97);
}

.buttonDiv{
    height: 8%;
    width: 72%;
    /*border: 1px solid black;*/
    margin: auto;
    margin-top: 70px;
    background: black;
}

.buttonDiv button{
    width: 100%;
    height: 100%;
    font-family: "Times New Roman";
    color: #E5E7EB;
    font-weight: bold;
    background: black;
    font-size: 18px;
}

.notice{
    /*border: 2px solid deeppink;*/
    width: 60%;
    height: 6%;
    margin: auto;
    background: #ffffff;
    text-align: center;
    font-size: 17px;
    font-family: monospace;
    color: #676767;
    margin-top: 50px;
}

.under{
    text-decoration: underline;

}
label{
}

.hide {
    display: none;
}